@{
    ViewData["Title"] = "Home Page";
}
<header class="masthead">
    <div class="container h-100">
        <div class="row h-100 align-items-center">
            <div class="col-12 text-center">
                <h1 class="fw-bold">The Collective Humanitarian Aid Initiative</h1>
                <p class="lead">Improving charitable donations through data</p>
            </div>
        </div>
    </div>
</header>
<div class="container mt-3">
    <p>
        The process of bringing in donated goods from donors to donees is usually supported by
        philanthropic organizations or government agencies. The effectiveness of these supply chains,
        however, can be limited by the reach of the organizations involved. This, mixed in with added
        complexities of what goods are typically accepted by a charitable entity and what is needed by
        refugees, incurs inefficiencies.  Data about these organizations and their response to each crisis
        can be unclear, and aggregated scaled data of the sector is near nonexistent.
    </p>

    <p>That's where the Collective Humanitarion Aid Initiative comes in.</p>

    <p>
        Getting help distributed successfully can be problematic, and each organization has its own web
        of relationships that have been built for providing help. These relationships are crucial for
        successfully being a catalyst for donation, and for managing supply chain operations. We aim to
        build a bridge between organizations working in, or interested in philanthropic endeavors. Doing
        so, we hope to better match supplies to those who need them. We track data on
        how organizations collect donations, find ways to serve, and deliver to share what works with
        the world. This also makes aggregating data on total impact, and effectiveness just a step away
        from being publicized.
    </p>
</div>

<style>
    .masthead {
        height: 30vh;
        min-height: 500px;
        background-image: url('/img/blur.png');
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
        color: white;
    }
</style>