@{
}

@model List<Request>

<div class="container text-center">
    <h1 class="display-4">Pending Requests</h1>
    <br />
    <table class="table table-striped ">
        <thead class="thead-dark">
            <tr>
                <th class="text-left">Requesting Org</th>
                <th class="text-left">Requested Product</th>
                <th>Quantity Requested</th>
                <th>Details</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var req in Model)
            {
                @foreach (var hum in ViewBag.hums)
                {
                    if (hum.OrgId == req.HumanitarianId)
                    {
                        ViewBag.org = hum.OrgName;
                    }
                }

                @foreach (var prod in ViewBag.prod)
                {
                    if (prod.ProductId == req.ProductId)
                    {
                        ViewBag.p = prod.ProductName;
                    }
                }

                <tr>
                    <td class="text-left">@ViewBag.org</td>
                    <td class="text-left">@ViewBag.p</td>
                    <td>@req.Amount</td>
                    <td><a class="btn btn-success" asp-action="RequestDetails" asp-route-id="@req.RequestId">Details</a></td>
                </tr>
            }
        </tbody>
    </table>
</div>
